html {

    body {
        font-family: Tahoma, sans;
        color: #000000;
        background-color: #ffffff;
        padding: 20px;
        header {
            margin: 20px 0 20px 0;
        }
        main {
            margin: 20px 0 20px 0;
        }
    }
}


.feedback.error {
    color: #d35946;
}

.feedback.success {
    color: #8dc259;
}

.feedback.neutral {
    color: #3333ff;
}

#input {
    .input-holder {
        > div {
            margin: 20px;
        }
    }
}

#results {
    .results-holder {
        > div {
            margin: 20px;
        }
    }
}


/*
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/
